* text=auto
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
*.pkl filter=lfs diff=lfs merge=lfs -text
public/module/*.pkl filter=lfs diff=lfs merge=lfs -text
